/* color var */
:root {
    --background-color: whitesmoke;
    --header-color: #e8f6dd;
    --primary-color: beige;
    --secondary-color: darkolivegreen;
    --tertiary-color: #88B497;
}

/* remove default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* page background color */
body {
    background-color: var(--background-color);
}

/* <header> STYLES START */
header {
    width:100%;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    align-items: center;
}

/* <header> h1 style */
header h1 {
    font-size: 45px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    padding: 0 10px 0 60px;
}
/* <header> a style, credit: Jeff Starr https://wp-mix.com/css-hover-link-slide-up-background/ */
header a {
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 5px;
    color: var(--secondary-color);
    background-color: var(--header-color);
    vertical-align: bottom;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    background-size: 100% 200%;
    background-position: 0 -100%;
    background-image: linear-gradient(to top, transparent 50%, var(--secondary-color) 50%);
}

/* header links hover style */
header a:hover {
    color: var(--primary-color);
    background-position: 0 0;
}

/* <header> nav-bar styles */
header nav {
    margin: 7px 0;
    padding-right: 80px;
}
/* <header> nav and ul styles */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* <header> nav, ul, and li styles */
header nav ul li a {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    border-bottom: 3px solid var(--secondary-color);
} 
/* END HEADER STYLES */

.hero {
    background-image: url(../images/hero.jpg);
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 25px;
    background-position: bottom;
    position: relative;
}

.hero img {
    position: absolute;
    left: 180px;
    top: 50px;
}

.subtitle {
    position: absolute;
    top: 85%;
    left: 82%;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    color: var(--secondary-color);
}

.main-title {
    flex: 0 0 20%;
    border-right: 5px solid var(--secondary-color);
    font-size: 30px;
    text-align: right;
    margin-right: 40px;
    padding-right: 25px;
}

.about-text {
    flex: 0 1 90%;
    padding-left: 3%;
    padding-right: 1%;
    font-size: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects img {
    max-width: 100%;
    border: solid 10px var(--secondary-color);
    flex: 1;
    opacity: 0.75;
    transition: opacity .3s ease-out;
}

.projects img:hover {
    box-shadow: 0 0 50px 0 var(--secondary-color);
    opacity: 1;
}

.first-project {
    height: 400px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 0;
}

.run-buddy-text {
    position: absolute;
    top: 55%;
    left: 1%;
    background: var(--secondary-color);
    padding: 1%;
    padding-left: 5%;
    padding-right: 2%;
    color: var(--primary-color);
    text-align: right;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    height: 45%;
}

.project-text {
    position: absolute;
    top: 15%;
    left: 1%;
    background: var(--secondary-color);
    padding: 1%;
    padding-left: 8%;
    padding-right: 2%;
    color: var(--primary-color);
    text-align: right;
}

.project-text p {
    color: var(--primary-color);
    font-size: 10px;
    padding-top: 3%;
}

#contact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact-info {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}